header {
  height: 80px;
  border-bottom: 1px solid grey;
  align-items: center;
  display: flex;
  padding: 0 16px;
  justify-content: space-between;
}

aside {
  width: 256px;
  position: fixed;
  border-right: 1px solid grey;
  left: 0;
  top: 0;
  height: 100vh;
}
main {
  margin-left: 256px;
  height: 100vh;
}

.logo {
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid grey;
  justify-content: center;
}
div.container {
  padding: 16px;
}

.searchInput {
  width: 400px;
  padding: 10px 5px 10px 40px;
  background-color: #1e1e1e;
  border-radius: 30px;
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.headerLinks {
  list-style-type: none;
  display: flex;
  width: 200px;
  justify-content: space-around;
}

.headerLinks li {
  background-color: #1e1e1e;
  border-radius: 50%;
  padding: 8px;
}

.headerLinks li:last-of-type {
  padding: 0;
}

.headerLinks li img {
  width: 20px;
  height: 20px;
}
.headerLinks li img:last-of-type {
  width: 100%;
  height: 100%;
}
